// COLORES
$black: #1c1c1c;
$white: #fff;
$gray: #f0efef;
$blue: #4c96d7;
$text-gray: #919191;
$gray-section: #e3e3e3;

// FONTS
$primary-font: "Avenir";
$secondary-font: "Signika";

$font-roman: 400;
$font-heavy: 800;
$font-black: 900;
$font-semiBold: 600;

// BREAKPOINS
$s: 0;
$m: 640px;
$l: 1024px;
$lg: 1200px;
$xl: 1440px;
